div { display:block; }
h2 { padding-top: 15px; }
html { font-family: 'Average', serif; }
body { font-size: 16px; }
div#container { 
	width: 850px;
	position: relative;
	margin-left: auto; 
	margin-right: auto;
}
div#topnav {
	width: 100%;
}

#menu a:link {color:#ffffff; }
#menu a:visited {color:#ffffff; }
#menu a:active {color:#ffffff; }
#menu a:hover {color:#ffffff;background-color:#033A57; }
#menu a:focus {color:#ffffff; }
#menu	{background-color:#6B8BB3; clear:both; }
#menu ul li {display:inline; margin:10px; border-left: 1px solid #333;}

#catchy { padding-left: 20px;}
iframe {
	width:325px;
	height:191px;
}
form {
	float: left; 
}
div#vidplayer { float:left; width:375px; padding-top:4%;}
div#textbody { 
	float:right; 
	width:425px;
	padding-left: 5px;
	margin-left: 5px;
}
div.childelem {}
img { 
	margin: 5px; 
	margin-bottom: 2px; 
}
